<footer class="totonoo--footer">
  Copyright &copy; <span id="copyright-years"></span> 
  <a href="/" class="totonoo--link-small">Totonoo.com</a>
  <a href="http://beian.miit.gov.cn/" class="totonoo--link-small" target="_balnk"><%=footer.beian%></a>
</footer>