<footer class="totonoo--page-footer">
  Copyright &copy; 2005 - <%= new Date().getFullYear()%> 
  <a href="/" class="totonoo--link-small">Totonoo.com</a>
  <a href="http://beian.miit.gov.cn/" class="totonoo--link-small" target="_balnk"><%=footer.beian%></a>
</footer>