<div class="totonoo--aside" id="totonoo--aside">
  <h2><i class="iconfont icon-right-menu"></i>推荐内容</h2>
  <div class="img-title">
    <ul>
      <%
      const _list = aside.list || [];
      %>
      <% _list.forEach(item => { %>
        <li>
          <a href="<%=item.path%>">
            <img src="<%=item.cover%>">
            <div class="info">
              <h3><%=item.title%></h3>
            </div>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>
  <div class="text-list">
    <ul>
      <%
      const _textList = aside.textList || [];
      %>
      <% _textList.forEach(item => { %>
        <li>
          <a href="<%=item.path%>"><%=item.title%></a>
        </li>
      <% }); %>
    </ul>
  </div>
  <div class="tags">
    <h3><i class="iconfont icon-tags"></i>文章标签 <small>Tags</small></h3>
    <%
    const _tags = aside.tags || []
    %>
    <% _tags.forEach(item => { %>
      <a href="<%=item.path%>"><%=item.title%></a>
    <% }); %>
  </div>
</div>