<%
const _current = current || 0;
const list = [{
  title: '首页',
  path: 'index.html',
  icon: 'icon-home'
}, {
  title: '文集',
  path: 'collection.html',
  icon: 'icon-book-1'
}, {
  title: '标签',
  path: 'tags.html',
  icon: 'icon-tags'
}, {
  title: '时光轴',
  path: 'timeline.html',
  icon: 'icon-timeline'
}, {
  title: '关于我们',
  path: 'about.html',
  icon: 'icon-aboutus'
}]
%>
<div class="totonoo--header" id="totonoo--top-header">
  <div class="wrapper">
    <div class="totonoo--large-header">
      <div class="totonoo--flying-wing">
        <div class="green-dragon">
          <div class="top-logo">
            <a href="/">
              <i class="logo-icon"></i>
              <h1>Totonoo<small>.com</small></h1>
            </a>
          </div>
        </div>
        <div class="old-ox">
          <div class="top-nav">
            <nav class="top-nav-list">
              <ul>
                <% list.forEach((item, index) => { %>
                  <li<%- (index == _current) ? ' class="current"' : '' %>><a href="<%=item.path%>"><i class="iconfont <%=item.icon%>"></i><%=item.title%></a></li>
                <% }); %>
              </ul>
            </nav>
          </div>
        </div>
        <div class="white-tiger">
          <div class="top-search">
            <form method="GET" action="/search.html">
              <label class="top-search-input">
                <i class="iconfont icon-search"></i>
                <input name="keyword" placeholder="Search...">
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
