<div class="totonoo--page-tree-placeholder">
  <div class="totonoo--page-tree" id="totonoo--page-tree">
    <%
    const _list = tree.list || [];
    const _current = tree.current || '';
    %>
    <%
    const html = []
    const forEachTree = (data = [], level = 0) => {
      html.push('<ul>')
      data.forEach(item => {
        const _path = tree.level === 1 ? item.path : item.path.replace('/index.html', '');
        const currentClass = _current.indexOf(_path) === 0 ? 'current' : '';
        html.push(`<li><a class="${level == 0 ? 'first-level' : ''} level-${level} ${currentClass}" href="${item.path}"><span>${item.icon ? '<i class="iconfont '+ item.icon +'"></i>' : ''}${item.title}</span></a>`);
        if (item.children && item.children.length > 0){
          forEachTree(item.children, (level + 1));
        }
        html.push('</li>');
      })
      html.push('</ul>');
    };
    forEachTree(_list, 0);
    %>
    <%- html.join(''); %>
  </div>
</div>