<!DOCTYPE html>
<html lang="en">
  <%- include(`${g.$path}/components/head.html`, {
    head
  }) %>
<body>
  <%- include(`${g.$path}/components/header.html`, {
    header
  }) %>
  <div class="totonoo--body">
    <div class="wrapper">
      <div class="totonoo--flying-wing">
        <div class="green-dragon totonoo--tree-one">
          <%- include(`${g.$path}/components/tree.html`, {
            tree
          }) %>
        </div>
        <div class="old-ox">
          <div class="totonoo--main">
            <%- include(`${g.$path}/components/breadcrumb.html`, {
              breadcrumb
            }) %>
            <div class="totonoo--collection-detail">
              <button class="totonoo--right-menu"><i class="iconfont icon-right-menu"></i></button>
              <article class="totonoo--markdown">
                <h1><%- main.title %></h1>
                <%- main.body %>
              </article>
              <div class="totonoo--article-related">
                <ul>
                  <%
                  if (main.related.prev.path) {
                  %>
                  <li>
                    <a href="<%= main.related.prev.path %>"><i class="iconfont icon-arrow-left"></i> <%= main.related.prev.title %></a>
                  </li>
                  <%
                  }
                  if (main.related.next.path) {
                  %>
                  <li>
                    <a href="<%= main.related.next.path %>"><%= main.related.next.title %> <i class="iconfont icon-arrow-right"></i></a>
                  </li>
                  <%
                  }
                  %>
                </ul>
              </div>
            </div>
          </div>
          <%- include(`${g.$path}/components/footer.html`, {
            footer
          }) %>
        </div>
        <div class="white-tiger">
          <%- include(`${g.$path}/components/articlenav.html`, {
            list: main.nav
          }) %>
        </div>
    </div>
  </div>
  <%- include(`${g.$path}/components/foot.html`, {
    foot
  }) %>
</body>
</html>
